button{
	border-radius:5px;
	border:none;
	padding:12px 18px;
	transition:all 0.3s;
	box-shadow:0 4px black;
	outline:none;
	cursor:pointer;
}

button:hover{
	transform:translateY(-2px);
	box-shadow:0 6px black;
}
button:focus{
	box-shadow:none;
	transform:translateY(6px);
}
li{
	text-decoration: none;

}