body{
	--baseColor:gainsboro;
	--myBorder:1px solid var(--baseColor);
	--radius:5px;
	margin:0;
}

li{
	list-style-type: none;
	border-bottom:var(--myBorder);
	border-left:var(--myBorder);
	border-right:var(--myBorder);
}
li:first-of-type{
	border-radius:var(--radius) var(--radius) 0 0;
	border-top:var(--myBorder);
}
li:last-of-type{
	border-radius:0 0 var(--radius) var(--radius);
}

li a{
	color:blue;
	text-decoration: none;

}
li a[href]{
	padding:10px;
	display:block;
	transition:all .3s ease;

}


li a[href]:hover{
	background:var(--baseColor);
	text-shadow:2px 2px 3px gray;
}
.container{
	width:1000px;
	margin:0 auto;
}

button{
	margin:5px;
	padding:8px 12px;
	border:none;
	outline:none;
}